@{
    ViewBag.Title = "Home Page";
}

        <div>
            <img class="img-responsive"  src="~/Image/neverforgetlist.png" style="margin:0; padding-left:10%">

        </div>
    <div class="col-lg-12" style="text-align:center">
        <h2>Don't Forget!</h2>
        <p>Have you ever gone to the store and forgot why you went in the first place?</p>
        <p>Now there is an app that will make sure that you NEVER FORGET again!</p>
        <p>The Never Forget Shopping List is you everyday helper for when you are on the go.</p>
        <p>Never Forget again with Never Forget Shopping List!</p>
    </div>
